body {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

table {
  border-collapse: collapse;
}

td {
  width: 2.5em;
  height: 2.5em;
  text-align: center;
}

.unclicked {
  border: 3px outset #999;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  background-color: lightgray;
}

.flagged {
  background-color: lightgreen;
  color: red;
}

.flagged:after {
  content: 'F';
}

.n0 {
  color: lightgray;
  border: none;
  box-shadow: none;
  background-color: white;
}
.n1 {
  color: blue;
  border: none;
  box-shadow: none;
}
.n2 {
  color: lightgreen;
  border: none;
  box-shadow: none;
}
.n3 {
  color: seagreen;
  border: none;
  box-shadow: none;
}
.n4 {
  color: green;
  border: none;
  box-shadow: none;
}
.n5 {
  color: lightcoral;
  border: none;
  box-shadow: none;
}
.n6 {
  color: mediumvioletred;
  border: none;
  box-shadow: none;
}
.n7 {
  color: red;
  border: none;
  box-shadow: none;
}
.n8 {
  color: darkred;
  border: none;
  box-shadow: none;
}

.n0:after {
  content: '0';
}
.n1:after {
  content: '1';
}
.n2:after {
  content: '2';
}
.n3:after {
  content: '3';
}
.n4:after {
  content: '4';
}
.n5:after {
  content: '5';
}
.n6:after {
  content: '6';
}
.n7:after {
  content: '7';
}
.n8:after {
  content: '8';
}

.mine {
  background-color: red;
  color: black;
  border: 3px outset #999;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
.mine:after {
  content: 'X';
}
